In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
import lightgbm as lgbm

In [2]:
data = pd.read_csv('data/train.csv')
data.shape

(300000, 26)

In [3]:
data.head()

,id,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,...,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,target
0,1,A,B,A,A,B,D,A,E,C,...,0.881122,0.421650,0.741413,0.895799,0.802461,0.724417,0.701915,0.877618,0.719903,6.994023
1,2,B,A,A,A,B,B,A,E,A,...,0.440011,0.346230,0.278495,0.593413,0.546056,0.613252,0.741289,0.326679,0.808464,8.071256
2,3,A,A,A,C,B,D,A,B,C,...,0.914155,0.369602,0.832564,0.865620,0.825251,0.264104,0.695561,0.869133,0.828352,5.760456
3,4,A,A,A,C,B,D,A,E,G,...,0.934138,0.578930,0.407313,0.868099,0.794402,0.494269,0.698125,0.809799,0.614766,7.806457
4,6,A,B,A,A,B,B,A,E,C,...,0.382600,0.705940,0.325193,0.440967,0.462146,0.724447,0.683073,0.343457,0.297743,6.868974

In [4]:
data = pd.get_dummies(data)
data.shape

(300000, 72)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 72 columns):
id        300000 non-null int64
cont0     300000 non-null float64
cont1     300000 non-null float64
cont2     300000 non-null float64
cont3     300000 non-null float64
cont4     300000 non-null float64
cont5     300000 non-null float64
cont6     300000 non-null float64
cont7     300000 non-null float64
cont8     300000 non-null float64
cont9     300000 non-null float64
cont10    300000 non-null float64
cont11    300000 non-null float64
cont12    300000 non-null float64
cont13    300000 non-null float64
target    300000 non-null float64
cat0_A    300000 non-null uint8
cat0_B    300000 non-null uint8
cat1_A    300000 non-null uint8
cat1_B    300000 non-null uint8
cat2_A    300000 non-null uint8
cat2_B    300000 non-null uint8
cat3_A    300000 non-null uint8
cat3_B    300000 non-null uint8
cat3_C    300000 non-null uint8
cat3_D    300000 non-null uint8
cat4_A    300000 non-null uint8
cat4_B    300000 non-null uint8
cat4_C    300000 non-null uint8
cat4_D    300000 non-null uint8
cat5_A    300000 non-null uint8
cat5_B    300000 non-null uint8
cat5_C    300000 non-null uint8
cat5_D    300000 non-null uint8
cat6_A    300000 non-null uint8
cat6_B    300000 non-null uint8
cat6_C    300000 non-null uint8
cat6_D    300000 non-null uint8
cat6_E    300000 non-null uint8
cat6_G    300000 non-null uint8
cat6_H    300000 non-null uint8
cat6_I    300000 non-null uint8
cat7_A    300000 non-null uint8
cat7_B    300000 non-null uint8
cat7_C    300000 non-null uint8
cat7_D    300000 non-null uint8
cat7_E    300000 non-null uint8
cat7_F    300000 non-null uint8
cat7_G    300000 non-null uint8
cat7_I    300000 non-null uint8
cat8_A    300000 non-null uint8
cat8_B    300000 non-null uint8
cat8_C    300000 non-null uint8
cat8_D    300000 non-null uint8
cat8_E    300000 non-null uint8
cat8_F    300000 non-null uint8
cat8_G    300000 non-null uint8
cat9_A    300000 non-null uint8
cat9_B    300000 non-null uint8
cat9_C    300000 non-null uint8
cat9_D    300000 non-null uint8
cat9_E    300000 non-null uint8
cat9_F    300000 non-null uint8
cat9_G    300000 non-null uint8
cat9_H    300000 non-null uint8
cat9_I    300000 non-null uint8
cat9_J    300000 non-null uint8
cat9_K    300000 non-null uint8
cat9_L    300000 non-null uint8
cat9_M    300000 non-null uint8
cat9_N    300000 non-null uint8
cat9_O    300000 non-null uint8
dtypes: float64(15), int64(1), uint8(56)
memory usage: 52.6 MB

In [6]:
Y = data['target']
X = data.drop(['target'], axis=1)
print(Y.shape, X.shape)

(300000,) (300000, 71)

In [7]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.1, random_state=2021, shuffle=True)
print(X_train.shape, X_test.shape)

(270000, 71) (30000, 71)

In [8]:
print(Y_train.shape, Y_test.shape)

(270000,) (30000,)

In [9]:
def rmse(y_pred, y_actual):
    return np.sqrt(1/len(y_pred) * np.sum(np.square(y_actual - y_pred)))

In [10]:
rmse(np.array([1,2,3,4]), np.array([1.5, 2.5, 3.5, 4.5]))

0.5

In [11]:
from sklearn.preprocessing import StandardScaler  
scaler = StandardScaler()
# Don't cheat - fit only on training data
scaler.fit(X_train)  
X_train = scaler.transform(X_train)  
# apply same transformation to test data
X_test = scaler.transform(X_test)

In [12]:
model = lgbm.LGBMRegressor(random_state=2021)
model.fit(X_train, Y_train)
rmse(model.predict(X_train), Y_train)

0.837701901982312

In [13]:
test_predict = model.predict(X_test)
rmse(test_predict, Y_test)

0.8463823591012635